* {
  margin: unset;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;

  min-height: 0;

  aside {
    min-height: 0;
    overflow-y: auto;
  }
}
